@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --container-width: 1280px;
    --container-padding: 15px;
    --secondary:rgb(109, 65, 33);
}
body {
    font-family: 'Arial', sans-serif;
    color: rgb(255, 255, 255);

  }
.none {
    display: none !important;
  }
.destinations {
    overflow-x: hidden;
    /* padding: 96px 0 100px; */
}
.container-first {
    max-width: var(--container-width);
    margin: 0 auto;

    /* padding-left: calc( (100% - var(--container-width))/2 + var(--container-padding) ); */

}
.destinations__first {
    display: flex;
    column-gap: 50px;
    background-image: url("./../img/first/first__background.png");
    background-size: 100%;
    justify-content: center;
    align-items: center;
}
.dectinations__first img {
    width: var(--container-width);
    height: auto;
}
.first__content {
    max-width: 1000px;
    /* word-wrap: break-word; */
}
.destinations {
    width: var(--container-width);
}

.first__title {
    text-align: center;
    margin-top:30px;
    margin-bottom: 5px;
    font-family: 'Lobster', sans-serif;
    font-size: 73px;
    
}
.first__content h2 {
    margin-bottom: 45px;
    text-align: center;
    font-size: 28px;
    font-family: 'Lobster', ;
   }
.first__text {
    margin-bottom: 60px;
    font-size: 16px;
    }

.first__text p {
    margin-top: 20px;
    white-space: pre-wrap;
}
.dectinations::after {
    content: "";
    position: absolute;
    left: 275px;
    top: 95px;
    width: 860px;
    height: 42px;

    background-image: url("./../img/first/first__icon.png");
    background-size: 100%;

}
.idea {

    /* overflow-x: hidden; */
    width: var(--container-width);
    /* background-color: #ffffff; */
    /* border-top: 10px solid transparent;
    background-image:
            linear-gradient(lightblue, skyblue),
            linear-gradient(to bottom right, transparent 50.5%, lightblue 50.5%),
            linear-gradient(to bottom left, transparent 50.5%, lightblue 50.5%),
            linear-gradient(to top right, transparent 50.5%, skyblue 50.5%),
            linear-gradient(to top left, transparent 50.5%, skyblue 50.5%);
    background-repeat: repeat, repeat-x, repeat-x, repeat-x, repeat-x;
    background-position: 0 0, 10px 0, 10px 0, 10px 100%, 10px 100%;
    background-size: auto auto, 20px 20px, 20px 20px, 20px 20px, 20px 20px;
    background-clip: padding-box, border-box, border-box, border-box, border-box;
    background-origin: padding-box, border-box, border-box, border-box, border-box; */
}
.container-second {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.idea__second {
    max-width: 1280px;
    margin-top: 40px;
    margin-bottom: 150px;
    position: relative; 
    
}
.idea__content {
    font-size: 16px;
    color: rgb(78, 78, 78);
    text-align: left;

}
.idea__title--first{
    
    font-size: 35px;
    font-family: "Lobster";
    color: rgb(109, 65, 33);
    text-align: center;
    margin-bottom: 40px;

}
.idea__first--text{
    position: absolute;
    margin-bottom: 60px;
    height: 74px;
    max-width: 600px;
    left: 10px; 
}
.idea__second--text {
    margin-top: 225px;
    margin-left: 200px;
    max-width: 640px;
}
.idea__title--second {
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    margin-bottom: 15px;
    /* margin-top: 60px; */
} 
.idea__first--text::after {
    content: "";
    position: absolute;
    left: 615px;
    top: -85px;
    width: 218px;
    height: 218px;
    background-image: url("./../img/second/Naiman.png");
    background-size: 100%;
}
.idea__second--text::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 240px;
    width: 218px;
    height: 218px;
    background-image: url("./../img/second/Banford.png");
    background-size: 100%;
}
.idea__second::before {
    position: absolute;
    content: "1951";
    font-size: 85px;
    font-weight: 600;
    color: rgb(169, 169, 169);
    writing-mode: vertical-rl; 
    left: 850px;
    top: 30px;
    letter-spacing: -0.12em;


}
.idea__second::after {
    position: absolute;
    content: "1970";
    font-size: 85px;
    font-weight: 600;
    color: rgb(169, 169, 169);
    writing-mode: vertical-rl; 
    left: -180px;
    top: 270px;
    letter-spacing: -0.12em;

}
.virus {
    overflow-x: hidden;
    background-image: url("./../img/virus/virus__background.png");
    color: rgb(45, 45, 45);
    height: 888px; 
    flex-grow: 1;
    width: var(--container-width);
}
.container-virus {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--container-width);
    margin: 0 auto;

    column-gap: 50px;
}
/* .first__virus {
    max-width: 1000px;
} */
.virus__content {
    max-width: 888px;
    position: relative;
}
.virus__content::after {
    position: absolute;
    content: "1961";
    font-size: 85px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    writing-mode: vertical-rl; 
    left: -395px;
    top: 150px;
    letter-spacing: -0.12em;
}
.virus__content::before {
    position: absolute;
    content: "1971";
    font-size: 85px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    writing-mode: vertical-rl; 
    left: 550px;
    top: 180px;
    letter-spacing: -0.12em;
}
.virus__title {
    font-size: 35px;
    font-family: "Lobster";
    color: rgb(109, 65, 33);
    text-align: center;
    margin-bottom: 40px;  
    margin-top: 20px;
}
.virus__first--content {
   
    column-gap: 50px;
}
.virus__first--content p {
  
    max-width: 385px;
    font-size: 16px;
    position: absolute;
    left: -325px;
    top: 475px;
      
}
.virus__darwin {
    position: relative;
    flex-grow: 1;
}
.virus__darwin::before{
    content: "";
    position: absolute;
    left: -320px;
    top: 10px;
    width: 335px;
    height: 315px;
    background-image: url("./../img/virus/image__before.png");
    background-size: 100%;
}
.virus__darwin img {
    position: absolute;

    max-width: unset;
    left: -282px;
    top: 45px;
    pointer-events: none;

}
.virus__second--content {
    display: flex;
	flex-direction: column;
    
}

.virus__creeper {
    position: relative;
    max-width: 640px;
}
.virus__creeper--text {
    position: absolute;
    left: 150px;
    top: 475px;
    width: 420px;
       
}
.virus__creeper--text p {
    margin-bottom: 20px;
}
.virus__creeper::after{
    content: "";
    position: absolute;
    left: 200px;
    top: 15px;
    width: 326px;
    height: 305px;
    background-image: url("./../img/virus/image__before.png");
    background-size: 100%;
}
.virus__creeper img {
    position: absolute;
    max-width: unset;
    left: 231px;
    top: 90px;
    pointer-events: none;
}
.spread {
    overflow-x: hidden;
    background-image: url("./../img/spread/spread__background.png");
    color: rgb(45, 45, 45);
    height: 800px; 
    flex-grow: 1;
    width: var(--container-width);
}
.container-spread {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--container-width);
    margin: 0 auto;

    column-gap: 50px;
}

.spread__content {
    max-width: 888px;
    position: relative;
    /* margin-bottom: -900px; */
}
.spread__content::after {
    position: absolute;
    content: "1981";
    font-size: 85px;
    font-weight: 600;
    color: rgb(229, 211, 174);
    writing-mode: vertical-rl; 
    left: -300px;
    top: 200px;
    letter-spacing: -0.12em;
    
}
.spread__content::before {
    position: absolute;
    content: "1987";
    font-size: 85px;
    font-weight: 600;
    color: rgb(229, 211, 174);
    writing-mode: vertical-rl; 
    left: 620px;
    top: 200px;
    letter-spacing: -0.12em;
}
.spread__title {
    font-size: 35px;
    font-family: "Lobster";
    color: rgb(109, 65, 33);
    text-align: center;
    margin-bottom: 40px;  
    margin-top: 20px;
}
.spread__first--content {
    column-gap: 50px;
}
.spread__elk--text {
    max-width: 385px;
    font-size: 16px;
    position: absolute;
    left: -200px;
    top: 550px;
      
}
.spread__text {
    display: flex;
    column-gap: 300px;
    color: #000000;
    font-weight: 600;
    position: absolute;
    margin-top: 10px;
    left: -205px;
    top: 100px;
}
.spread__elk {
    position: relative;
    flex-grow: 1;
}

.spread__elk img {
    position: absolute;

    max-width: unset;
    left: -240px;
    top: 45px;
    pointer-events: none;

}
.spread__second--content {
    display: flex;
	flex-direction: column;
    
}

.spread__ibm{
    position: relative;
    max-width: 640px;
}
.spread__ibm--text {
    position: absolute;
    left: 250px;
    top: 550px;
    width: 420px;
       
}
.spread__ibm--text p {
    margin-bottom: 20px;
}

.spread__ibm img {
    position: absolute;
    max-width: unset;
    opacity: 0.9;
    left: 295px;
    top: 60px;
    pointer-events: none;
    filter: sepia(0.7);
}